<div class="dialog-container">
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  <h1 mat-dialog-title>Edit User</h1>
  <div mat-dialog-content>
    <div>
      <mat-form-field class="mr-16" appearance="outline">
        <mat-label>First name</mat-label>
        <input [disabled]="loading" [(ngModel)]="user.firstName" matInput placeholder="first name">
        <!-- <mat-hint>Please enter first name.</mat-hint> -->
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Last name</mat-label>
        <input [disabled]="loading" [(ngModel)]="user.lastName" matInput placeholder="last name">
        <!-- <mat-hint>Please enter last name.</mat-hint> -->
      </mat-form-field>
    </div>


    <div>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Email</mat-label>
        <input type="email" [disabled]="loading" [(ngModel)]="user.email" matInput placeholder="Email">
        <!-- <mat-hint>Please enter street.</mat-hint> -->
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="example-full-width birthday-field" appearance="outline">
        <mat-label>Birthday</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="birthDate">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <button id="datepicker-btn" mat-icon-button (click)="picker.open()"> <mat-icon>calendar_month</mat-icon></button>
    </div>

    <div mat-dialog-actions>
      <button (click)="dialogRef.close();" [disabled]="loading" mat-button>Cancel</button>
      <button [disabled]="loading" mat-button [mat-dialog-close]="" cdkFocusInitial (click)="saveUser()">Save</button>
    </div>
  </div>

</div>