<div class="dialog-container">
  <h1 mat-dialog-title>Add New Task</h1>
  <div mat-dialog-content>

    <!----------------- LEFT SIDE --------------->
    <div class="left-side">
      <div>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Titel</mat-label>
          <input [disabled]="loading" [(ngModel)]="task.title" matInput placeholder="Titel">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Text</mat-label>
          <textarea [disabled]="loading" [(ngModel)]="task.text" matInput placeholder="Text"></textarea>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Category</mat-label>
          <mat-select [(ngModel)]="task.category">
            <mat-option *ngFor="let cat of categories" value="{{cat}}">
              {{cat}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Assigned to</mat-label>
          <mat-select [formControl]="contacts" [(ngModel)]="task.assignedTo" multiple>
            <mat-option *ngFor="let contact of contactList" value="{{contact.lastName + ', ' + contact.firstName }}">{{contact.lastName + ', ' +
              contact.firstName}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <!----------------- RIGHT SIDE --------------->
    <div class="right-side">
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Due Date</mat-label>
          <input matInput [matDatepicker]="picker" [ngModel]="task.deadline">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker" id="date-picker-btn"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="outline">
          <mat-label>Priority</mat-label>
          <mat-select [(ngModel)]="task.prio" >
            <mat-option value="High">High</mat-option>
            <mat-option value="Middle">Middle</mat-option>
            <mat-option value="Low">Low</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
    <button mat-button id="save-task" (click)="saveTask()">Save</button>
  </div>
</div>