.mat-dialog-content {
    display: flex;
    gap: 32px;
}

.left-side,
.right-side {
    width: 50%;
}

#date-picker-btn {
    position:  absolute;
    top: 0;
    right: 0;
}

.example-panel-red.mat-mdc-select-panel {
    background: rgba(255, 0, 0, 0.5);
  }
  
  .example-panel-green.mat-mdc-select-panel {
    background: rgba(0, 255, 0, 0.5);
  }
  
  .example-panel-yellow.mat-mdc-select-panel {
    background: rgba(255, 204, 0, 0.5);
  }

  #save-task {
    background: rgb(24, 152, 24);
    color: white;
  }