<div class="log-container">
    <form action="">
        <h2>Forgot your password?</h2>
        <p>To reset your password please enter your email-adress below.</p>
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input type="email" [disabled]="loading" matInput placeholder="email" #passwordResetEmail required>
            <!-- <mat-hint>Please enter street.</mat-hint> -->
        </mat-form-field>
        <a routerLink="/login">Back to login</a>
        <div mat-dialog-actions>
            <button [disabled]="loading" mat-button cdkFocusInitial (click)="authService.ForgotPassword(passwordResetEmail.value)">Send Mail</button>
        </div>
    </form>
</div>