<div class="dialog-container">
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  <h1 mat-dialog-title>Edit Info</h1>
  <div mat-dialog-content>
  
    <div>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Street + House No.</mat-label>
        <input [disabled]="loading"  [(ngModel)]="contact.street" matInput placeholder="street">
        <!-- <mat-hint>Please enter street.</mat-hint> -->
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="mr-16" appearance="outline">
        <mat-label>Zip-Code</mat-label>
        <input [disabled]="loading"  [(ngModel)]="contact.zipCode" matInput placeholder="zipcode">
        <!-- <mat-hint>Please enter zipcode.</mat-hint> -->
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <input [disabled]="loading"  [(ngModel)]="contact.city" matInput placeholder="city">
        <!-- <mat-hint>Please enter city.</mat-hint> -->
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Phone</mat-label>
        <input [disabled]="loading" [(ngModel)]="contact.phone" matInput placeholder="Phone">
        <!-- <mat-hint>Please enter street.</mat-hint> -->
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Mobile</mat-label>
        <input [disabled]="loading" [(ngModel)]="contact.mobile" matInput placeholder="Mobile">
        <!-- <mat-hint>Please enter street.</mat-hint> -->
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Skype-ID</mat-label>
        <input [disabled]="loading" [(ngModel)]="contact.skype" matInput placeholder="Skype-ID">
        <!-- <mat-hint>Please enter street.</mat-hint> -->
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Twitter</mat-label>
        <input [disabled]="loading" [(ngModel)]="contact.twitter" matInput placeholder="Twitter">
        <!-- <mat-hint>Please enter street.</mat-hint> -->
      </mat-form-field>
    </div>
  
    <div mat-dialog-actions>
      <button (click)="dialogRef.close();" [disabled]="loading"  mat-button>Cancel</button>
      <button [disabled]="loading"  mat-button [mat-dialog-close]="" cdkFocusInitial (click)="saveContact()">Save</button>
    </div>
  </div>

  </div>