<button (click)="openDialog()"  class="add-user-btn" mat-fab color="primary" matTooltip="Add User">
  <mat-icon>add</mat-icon>
</button>

<mat-card>
  <table class="user-table">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>City</th>
    </tr>
    <tr *ngFor="let contact of allContacts" [routerLink]="['/contacts/' + contact.customIdName]">
      <td>{{contact.lastName + ', ' + contact.firstName}}</td>
      <td>{{contact.email}}</td>
      <td>{{contact.city}}</td>
    </tr>
  </table>
</mat-card>