<mat-card class="user-detail-header">
  <button mat-icon-button class="edit-user-btn"  [matMenuTriggerFor]="userMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #userMenu="matMenu">
    <button mat-menu-item (click)="editUserDetails()">Edit</button>
    <button mat-menu-item (click)="deleteUser()" routerLink="/user">Delete</button>
  </mat-menu>
  <div class="img-box">
    <img src="assets/img/avatars/{{ currUser.img }}.png" alt="">
    <mat-icon (click)="editPic()">edit</mat-icon>
  </div>
  <div class="user-details">
    <h2>{{ currUser.firstName + " " +  currUser.lastName }}</h2>
    <p>{{ currUser.email }}</p> 
    <div class="b-day-line">
      <mat-icon>cake</mat-icon><p>{{ currUser.birthDate }}</p>
    </div>
  </div>
</mat-card>

<mat-card class="mt-32">
  <button mat-icon-button class="edit-user-btn"  [matMenuTriggerFor]="addressMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #addressMenu="matMenu">
    <button mat-menu-item (click)="editMenu()">Edit</button>
  </mat-menu>
  <mat-card-title>Info</mat-card-title>

  <mat-card-content>
    {{ currUser.street }} <br>
    {{ currUser.zipCode  + " " +  currUser.city }} <br><br>

    Phone: {{ currUser.phone }} <br>
    Mobile:  {{ currUser.mobile }} <br><br>

    Skype-ID: {{ currUser.skype }} <br>
    Twitter: {{ currUser.twitter }} <br><br>

    Notes: Notizen <br>
    
  </mat-card-content>
</mat-card>