<mat-card class="user-detail-header">
  <button mat-icon-button class="edit-user-btn"  [matMenuTriggerFor]="userMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #userMenu="matMenu">
    <button mat-menu-item (click)="editUserDetails()">Edit</button>
  </mat-menu>
  <img src="assets/img/profil.png" alt="">
  <div class="user-details">
    <h2>{{ currUser.firstName + " " +  currUser.lastName }}</h2>
    <p>{{ currUser.email }}</p>
  </div>
</mat-card>

<mat-card class="mt-32">
  <button mat-icon-button class="edit-user-btn"  [matMenuTriggerFor]="addressMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #addressMenu="matMenu">
    <button mat-menu-item (click)="editMenu()">Edit</button>
  </mat-menu>
  <mat-card-title>Address</mat-card-title>

  <mat-card-content>
    {{ currUser.street }} <br>
    {{ currUser.zipCode  + " " +  currUser.city }}
  </mat-card-content>
</mat-card>