.dialog-container {
  position: relative;
}

.mat-progress-bar {
  position: absolute;
  left: -28px;
  right: 0px;
  top: -25px;
  width: calc(100% + 56px);
}

.mat-dialog-content {
  overflow: unset;
}

.birthday-field {
  width: 80%;
}

#datepicker-btn {
  margin-left: 16px;
  color: #3F51B5;
}