.dialog-container {
  width: 300px;
}

.mat-dialog-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  margin: unset;
  padding: unset;
  overflow: unset;
}

.text-area {
  resize: none !important;
}


.date-picker {
  position: relative;
}

#date-picker-toggle {
  position: absolute;
  top: -28px;
  right: 0;
}


.example-panel-red.mat-mdc-select-panel {
  background: rgba(255, 0, 0, 0.5);
}

.example-panel-green.mat-mdc-select-panel {
  background: rgba(0, 255, 0, 0.5);
}

.example-panel-yellow.mat-mdc-select-panel {
  background: rgba(255, 204, 0, 0.5);
}

#save-task-btn {
  background: #2A5259;
  color: white;
  transition: 0.125;

  &:hover  {
    opacity: 0.8;
    transition: 0.125;
  }
}

#cancel-btn {
  border: 1px solid lightgray;
}