<div class="log-container">
    <form action="">
        <h2>Signin</h2>
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Firstname</mat-label>
            <input type="text" [disabled]="loading" matInput placeholder="firstname">
            <!-- <mat-hint>Please enter street.</mat-hint> -->
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Lastname</mat-label>
            <input type="text" [disabled]="loading" matInput placeholder="lastname">
            <!-- <mat-hint>Please enter street.</mat-hint> -->
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input type="email" [disabled]="loading" matInput placeholder="email">
            <!-- <mat-hint>Please enter street.</mat-hint> -->
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Password</mat-label>
            <input type="password" [disabled]="loading" matInput placeholder="password">
            <!-- <mat-hint>Please enter street.</mat-hint> -->
        </mat-form-field>
        <a routerLink="/login">Alreade have an account? Please login!</a>
        <div mat-dialog-actions>
            <button [disabled]="loading" mat-button cdkFocusInitial (click)="signin()">Signin</button>
        </div>
    </form>
</div>