<mat-icon (click)="goBack()">arrow_back</mat-icon>
<mat-card>
    <mat-card-content>
      <div class="card-frame"  [class.overdue-frame]="checkDueDate(currTask) < 0" ></div>
      <div class="card-header">
        <span>{{currTask.category}}</span>
        <button mat-icon-button class="edit-user-btn" [matMenuTriggerFor]="userMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #userMenu="matMenu">
          <button mat-menu-item (click)="editTask()">Edit</button>
          <button mat-menu-item (click)="deleteTask()">Delete</button>
        </mat-menu>
      </div>
      <h2>{{currTask.title}}</h2>
      <p>{{currTask.text}}</p>
      <div class="card-subline">
        <div class="due-line">
          <div class="due-date">from {{currTask.creationDateString}}</div>
          <span>Due Date: </span>
          <span [class.overdue]="checkDueDate(currTask) < 0">{{currTask.dueDateString}}</span>
          <!-- <span [ngClass]="'style-prio-' + task.prio">{{task.prio}}</span> -->
          <span class="overdue" *ngIf="checkDueDate(currTask) < 0"> !! overdue !!</span>
        </div>
        <div class="assigned-to-box">
          <span>
            
          </span>
        </div>

      </div>
    </mat-card-content>
  </mat-card>